*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: URL('/IMG/cover/QUESTION-PINK.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    margin-left: 155px;
    padding-top: 60px;
    padding-bottom: 20px;
}
.container{
    width:80%;
    height: 550px;
    box-shadow: 0px 0px 3px black;
    margin: auto;
}
.input{
    margin-left: 35px;
    padding-top: 20px;
    /* padding: 20px; */
}

.input label{
    font-size: larger;
    font-weight: bold;
}

.input form input{
    width: 35%;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

.input .submit{
    width:10%;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

.note{
    margin-left: 200px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* repsonsive designing */


@media only screen and (min-device-width:350px) and (max-device-width:590px){
    .container{
        width: 95%;
        height: 480px;
    }

    body{
        background-image: url('/IMG/cover/yellow-question.png');
        background-size: cover;
    }

    h1{
        margin-left: 15px;
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .input form input{
        width: 80%;
    }

    .input form textarea{
        width: 80%;
    }

    .input .submit{
        width: 25%;
    }

    .note{
        margin-left: 1px;
    }
    .text{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-device-width:600px) and (max-device-width:800px){
    body{
        background-image: URL('/IMG/cover/yellow-question.png');
        background-size: cover;
    }

    .container{
        width:80%;
        height: 475px;
    }


    .input form input{
        width: 55%;
    }

    .input .submit{
        width: 20%;
    }
}

